@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300&display=swap");

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.card img {
  height: 238px;
  position: relative;
}

.card {
  position: relative;
  overflow: hidden;
}

.overlay-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(51, 51, 51, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .overlay-btn {
  opacity: 1;
  transition: opacity 0.5s;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bgImg {
  background: linear-gradient(45deg, #333, rgba(255, 255, 255, 0)),
    url(https://images.unsplash.com/photo-1512820790803-83ca734da794?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJvb2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
